In [1]:
import pandas as pd
import os 
import csv

In [2]:
filepath = "static/data/cleaned_GlobalLandTemperaturesByState.csv"
myreader = pd.read_csv(filepath, delimiter=",")
myreader.head()

     state  year  annual_avg_temp_c  annual_avg_temp_f
0  Alabama  1900              17.06              62.71
1  Alabama  1901              15.92              60.66
2  Alabama  1902              17.08              62.75
3  Alabama  1903              16.25              61.26
4  Alabama  1904              16.70              62.05

0       Alabama
1       Alabama
2       Alabama
3       Alabama
4       Alabama
         ...
5758    Wyoming
5759    Wyoming
5760    Wyoming
5761    Wyoming
5762    Wyoming
Name: state, Length: 5763, dtype: object